[submodule "vim"]
	path = vim
	url = https://gitlab.com/khardix/vim-config.git
[submodule "zsh"]
	path = zsh
	url = https://gitlab.com/khardix/zsh-config.git
[submodule "mail"]
	path = mail
	url = https://gitlab.com/khardix/mail-config
[submodule "_tools/dotbot"]
	path = _tools/dotbot
	url = https://github.com/anishathalye/dotbot
    ignore = dirty
