[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
  ignore = dirty
[submodule "vim"]
	path = vim
	url = https://github.com/khardix/vim-config.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/khardix/zsh-config.git
[submodule "newsbeuter"]
	path = newsbeuter
	url = https://github.com/khardix/newsbeuter-config.git
[submodule "weechat"]
	path = weechat
	url = https://github.com/khardix/weechat-config
[submodule "mail"]
	path = mail
	url = https://github.com/khardix/mail-config
